.navbar {
    background-color: pink;
    font-family: 'Libre Bodoni', cursive;
}

.small-logo {
    width: 150px;
    height: auto;
}

.button {
    background-color: transparent;
    border: none;
}